<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939008307536-5nd30o8j7inoimkbhbr5hvrecb44s440.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939008307536-5nd30o8j7inoimkbhbr5hvrecb44s440</string>
	<key>API_KEY</key>
	<string>AIzaSyDzROj3bj95URfxkuePmq6mPXtOOZOMqM0</string>
	<key>GCM_SENDER_ID</key>
	<string>939008307536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-f5bcd</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-f5bcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939008307536:ios:95376d2d55e9c12afc3c55</string>
</dict>
</plist>